 <!-- end row -->
 <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nouvel référentiels</h5>
                <br>
                <!-- <p class="card-title-desc">Create beautifully simple form labels that float over your input fields.</p> -->

                <form>
                    <div class="row">
                        <h5 class="card-title" >Référence</h5>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>......</option>
                                <option value="1">AWD</option>
                                <option value="2">ODC</option>
                            </select>
                            <label for="floatingSelectGrid">Sélectionner une référentiels</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>Finalises</option>
                                <option value="1">AWD</option>
                                <option value="2">ODC</option>
                            </select>
                            <label for="floatingSelectGrid">Finalise</label>
                        </div>
                     </div>
                    </div>
                    <div class="row">
                        <h5 class="card-title" >Nom</h5>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>......</option>
                                <option value="1">AWD</option>
                                <option value="2">ODC</option>
                            </select>
                            <label for="floatingSelectGrid">Nom</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>Version</option>
                                <option value="1">AWD</option>
                                <option value="2">ODC</option>
                            </select>
                            <label for="floatingSelectGrid">Version</label>
                        </div>
                     </div>
                    </div>
                    <div class="row">
                        <h5 class="card-title" >Langue</h5>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>Langue</option>
                                <option value="1">FR</option>
                                <option value="2">EN</option>
                            </select>
                            <label for="floatingSelectGrid">Sélectionner votre langue</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input class="form-control" type="date" id="date-creation">
                            <label for="floatingSelectGrid">Date-creation</label>
                        </div>
                     </div>
                    </div>
                    <br>
                    <div class="row justify-content-end">
                        <div class="col-sm-12">
                            <div>
                                <button type="submit" class="btn btn-primary w-md">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->