<div class="container-fluid">

    <!-- <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  
    <div class="row">
      <div class="col-xl-4">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-3">
                  <h5 class="text-primary">Content de te revoir !
                  </h5>
                  <p>Cela semblera simplifié
                  </p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img s[src]="generateImageUrl(User?.photos[0]?.nom)" alt="Admin"
                class="rounded-circle p-1" style="background-color: #ffff;"
                (error)="handleAuthorImageError($event)" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-sm-4">
                <div class="avatar-md profile-user-wid mb-4">
                  <img src="assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                </div>
                <h5 class="font-size-15 text-truncate">{{User?.prenom}} {{User?.nom}}</h5>
                <p class="text-muted mb-0 text-truncate">Auditeur</p>
              </div>
              <div class="col-sm-8">
                <div class="pt-4">
  
                  <div class="row">
                    <div class="col-6">
                      <h5 class="font-size-15">10</h5>
                      <p class="text-muted mb-0">Audits en cours</p>
                    </div>
                    <div class="col-6">
                      <h5 class="font-size-15">5</h5>
                      <p class="text-muted mb-0">Audites fini</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
  
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Information personale</h4>
  
            <p class="text-muted mb-4"> Description de la personne </p>
            <div class="table-responsive">
              <table class="table table-nowrap mb-0">
                <tbody>
                  <tr>
                    <th scope="row">Nom Prenom :</th>
                    <td>Mariam Telly</td>
                  </tr>
                  <tr>
                    <th scope="row">Mobile :</th>
                    <td>(223) 123 1234</td>
                  </tr>
                  <tr>
                    <th scope="row">E-mail :</th>
                    <td>cynthiaskote@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row">Type d'utilisateur:</th>
                    <td>Auditeur</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end card -->
           <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-5">Mes Audites deja realiser</h4>
          <div class="">
            <ul class="verti-timeline list-unstyled">
              <li class="event-list active">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle bx-fade-right"></i>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <i class="bx bx-server h4 text-primary"></i>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Back end Developer</a></h5>
                      <span class="text-primary">2016 - 19</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="event-list">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <i class="bx bx-code h4 text-primary"></i>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Front end Developer</a></h5>
                      <span class="text-primary">2013 - 16</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="event-list">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <i class="bx bx-edit h4 text-primary"></i>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">UI /UX Designer</a></h5>
                      <span class="text-primary">2011 - 13</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- end card -->
      </div>
  
      <div class="col-xl-8">
  
        <div class="row">
          <div class="col-md-4">
            <!-- <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat> -->
          </div>
        </div> 
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title mb-4">Modifier mes informaions</h4>
            <div >
    
              <form>
                
                <div class="row mb-4">
                    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Nom</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="horizontal-firstname-input">
                    </div>
                </div>
                <div class="row mb-4">
                  <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Prenom</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="horizontal-firstname-input">
                  </div>
              </div>
                <div class="row mb-4">
                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="horizontal-email-input">
                    </div>
                </div>
                <div class="row mb-4">
                  <label for="horizontal-email-input" class="col-sm-3 col-form-label">Telephone</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="horizontal-email-input">
                  </div>
              </div>
                


                <div class="row justify-content-end">
                    <div class="col-sm-9">
                        <!-- <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="horizontalLayout-Check">
                            <label class="form-check-label" for="horizontalLayout-Check">
                                Remember me
                            </label>
                        </div> -->

                        <div>
                            <button type="submit" class="btn btn-primary w-md">Modifier</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            
            <h4 class="card-title mb-4">Mot de paase</h4>
            <div >
    
              <form>
                <div class="row mb-4">
                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Mot de passe actule</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="horizontal-password-input" required minlength="6"
                        #oldPassword=""
                        color="black" type="password" [type]="type ? 'password' : 'text'">
                        <span style="position: absolute; top: 15px; right: 40px; transform: translateY(-50%);"
                         [ngClass]="type ? 'toggle-password fa fa-eye-slash' : 'toggle-password fa fa-eye'" (click)="changeType()"></span>
                    </div>
                </div>
                <div class="row mb-4">
                  <label for="horizontal-email-input" class="col-sm-3 col-form-label">Nouvelle mot de passe</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="horizontal-password-input" required minlength="6"
                    #oldPassword=""
                    color="black" type="password" [type]="type1 ? 'password' : 'text'">
                    <span style="position: absolute; top: 15px; right: 40px; transform: translateY(-50%);"
                     [ngClass]="type1 ? 'toggle-password fa fa-eye-slash' : 'toggle-password fa fa-eye'" (click)="changeType1()"></span>
                </div>
              </div>
                <div class="row mb-4">
                  <label for="horizontal-email-input" class="col-sm-3 col-form-label">Confirmation mot de passe</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="horizontal-password-input" required minlength="6"
                    #oldPassword=""
                    color="black" type="password" [type]="type2 ? 'password' : 'text'">
                    <span style="position: absolute; top: 15px; right: 40px; transform: translateY(-50%);"
                     [ngClass]="type2 ? 'toggle-password fa fa-eye-slash' : 'toggle-password fa fa-eye'" (click)="changeType2()"></span>
                </div>
              </div>
                <div class="row justify-content-end">
                    <div class="col-sm-9">
                        <div>
                            <button type="submit" class="btn btn-primary w-md">Modifier</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Mes audites</h4>
            <div class="table-responsive">
              <table class="table table-nowrap table-hover mb-0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Audites</th>
                    <th scope="col">Date debut</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Budget</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Skote admin UI</td>
                    <td>2 Sep, 2019</td>
                    <td>20 Oct, 2019</td>
                    <td>$506</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Blog Template</td>
                    <td>05 Oct, 2019</td>
                    <td>16 Oct, 2019</td>
                    <td>$164</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Redesign - Multipurpose Landing</td>
                    <td>17 Oct, 2019</td>
                    <td>05 Nov, 2019</td>
                    <td>$192</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- end row -->
  </div>
  