<div class="container-fluid">
    <!-- <app-page-title title="Jobs List" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body border-bottom">
            <div class="d-flex align-items-center">
              <h5 class="mb-0 card-title flex-grow-1">Liste des Référentiels</h5>
              <div class="col-xxl-4 col-lg-6" style="padding-right: 20px;">
                <input type="search" class="form-control" id="searchInput" placeholder="Search for ...">
              </div> 
              <div class="flex-shrink-0 d-flex gap-1">
                <a href="/ajouter-referentiels" class="btn btn-primary">Nouvel Referentiel</a>
                <a href="javascript:void(0);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
                <div class="dropdown d-inline-block" dropdown>
                  <button type="menu" class="btn btn-success" id="*dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" dropdownToggle><i class="mdi mdi-dots-vertical"></i></button>
                  <ul class="dropdown-menu dropdown-menu dropdown-menu-end show" aria-labelledby="*dropdownMenuButton1" *dropdownMenu>
                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body border-bottom">
            <div class="row g-3">
              <!-- <div class="col-xxl-2 col-lg-6">
                <select class="form-select"  id="idStatus" aria-label="Default select example">
                  <option value="">Select Status</option>
                  <option value="Active">Active</option>
                  <option value="New">New</option>
                  <option value="Close">Close</option>
                </select>
              </div>
              <div class="col-xxl-2 col-lg-4">
                <select class="form-select"  id="idType" aria-label="Default select example">
                  <option value="">Select Type</option>
                  <option value="Full Time">Full Time</option>
                  <option value="Part Time">Part Time</option>
                  <option value="Internship">Internship</option>
                  <option value="Freelance">Freelance</option>
                </select>
              </div> -->
              <!-- <div class="col-xxl-2 col-lg-4">
                <div id="datepicker1">
                  <input type="text" placeholder="Datepicker" class="form-control " bsDatepicker >
  
                </div>
              </div> -->
              <!-- <div class="col-xxl-2 col-lg-4">
                <button type="button" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
              </div> -->
            </div>
          </div>
          <div class="card-body">
  
            <div class="table-responsive">
              <table class="table align-middle dt-responsive nowrap w-90 table-check" id="liste-audites">
                <thead>
                  <tr>
                    <th scope="col">Referentiele</th>
                    <th scope="col">Finalise</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Version</th>
                    <th scope="col">Langue</th>
                    <th scope="col">Date-creation</th>
                    <!-- <th scope="col">Etiquettes</th> -->
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody  *ngFor="let Referentiel of referentiel ">
                  <tr>
                    <th scope="row">{{Referentiel?.referentiel}}</th>
                    <td ><span class="badge bg-success">{{Referentiel?.finalite}}</span></td>
                    <td>{{Referentiel?.nom}}</td>
                    <td>{{Referentiel?.dervnierversion}}</td>
                    <td>{{Referentiel?.langue}}</td>
                    <td [attr.data-date]="Referentiel?.datecreation | date: 'yyyy-MM-dd'">{{Referentiel?.datecreation | date: 'dd-MM-yyyy'}}</td>
                    <!-- <td>Etiquettes</td> -->
                    
                    <!-- <td><span class="badge" >status</span></td> -->
                    <td>
                      <ul class="list-unstyled hstack gap-1 mb-0">
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Voir">
                          <a routerLink="/jobs/details" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                        </li>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                          <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" ><i class="mdi mdi-pencil-outline"></i></a>
                        </li>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                          <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"><i class="mdi mdi-delete-outline"></i></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- <div class="row justify-content-between align-items-center">
              <div class="col-auto me-auto">
                <p class="text-muted mb-0">Référentiels </p>
              </div>
              <div class="col-auto">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <pagination [totalItems]="(total | async)!" [(ngModel)]="service.page" [itemsPerPage]="service.pageSize" previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
                  </ul>
                </div>
              </div>
            </div> -->
            <!--end row-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
   
  