<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Gestion des audites</h4>
          <p class="card-title-desc">
            <!-- Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code>
              to make them scroll horizontally on small devices (under 768px). -->
          </p>
          <div class="flex-shrink-0 d-flex gap-1">
            <a href="/ajouter-audit" class="btn btn-primary">Nouvel audit</a>
          </div>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Audit id</th>
                  <th>Audites</th>
                  <th>Referentiele</th>
                  <th>Statut</th>
                  <th>Taux conformite</th>
                  <th>Conformite</th>
                  <!-- <th>Date-creation</th> -->
                  <th>Date debut</th>
                  <th>Date fin</th>
                  <th>Type Audit</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gestion of gestion">
                  <th scope="row">{{ gestion?.id }}</th>
                  <td>{{ gestion?.audites }}</td>
                  <td>{{ gestion?.referentiel }}</td>
                  <td>
                    <span class="badge" [ngStyle]="{
          'color': '#fffff', 
          'font-size': '15px', 
          'background': (gestion?.statutAudit === 'Terminer') ? 'green' : 'blue'
        }">
                      {{ gestion?.statutAudit }}
                    </span>
                  </td>
                  <td>{{ gestion?.tauxConformite }}</td>
                  <td>{{ gestion?.conformite }}</td>
                  <td>{{ gestion?.dateDebut }}</td>
                  <td>{{ gestion?.dateFin }}</td>
                  <td>{{ gestion?.typeAudit }}</td>
                  <!-- <td>{{ gestion?.referentiel }}</td> -->
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Voir">
                        <a (click)="scrollModal(scrollable, { idGestion: gestion?.id })"
                          class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                        <a (click)="varyingModal(varying,'Mary')" class="btn btn-sm btn-soft-info"><i
                            class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"><i
                            class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Awd</td>
                    <td>Ios/120/test</td>
                    <td><span class="badge" style="color: rgb(255, 255, 255); font-size: 15px; background: #0d8ae3;">Statu</span></td>
                    <td>------</td>
                    <td>-----</td>
                    <td>12/10/2023</td>
                    <td>12/10/2024</td>
                    <td>25/11/2024</td>
                    <td>------</td>
                    <td>
                        <ul class="list-unstyled hstack gap-1 mb-0">
                          <li data-bs-toggle="tooltip" data-bs-placement="top" title="Voir">
                            <a routerLink="/jobs/details" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                          </li>
                          <li data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                            <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" ><i class="mdi mdi-pencil-outline"></i></a>
                          </li>
                          <li data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                            <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"><i class="mdi mdi-delete-outline"></i></a>
                          </li>
                        </ul>
                      </td>
                  </tr> -->
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- Modifier et supprimer -->
<ng-template #varying role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Recipient:</label>
      <input type="text" class="form-control" id="recipient-name" value="@mdo" [(ngModel)]="name">
    </div>
    <div class="mb-3">
      <label for="message-text" class="col-form-label">Message:</label>
      <textarea class="form-control" id="message-text"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalRef?.hide()">Close</button>
    <button type="button" class="btn btn-primary">Send message</button>
  </div>
</ng-template>
<!-- fin  -->



<!-- Afficher   -->
<ng-template #scrollable let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Détails de l'Audit</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>Audit ID</th>
          <th>Audités</th>
          <th>Référentiel</th>
          <!-- <th>Statut</th>
          <th>Taux de Conformité</th>
          <th>Conformité</th>
          <th>Date Début</th>
          <th>Date Fin</th>
          <th>Type d'Audit</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- Vérifiez si `gestionParId` est bien défini avant d'afficher les détails -->
        <tr *ngIf="gestionParId">
          <td>{{ gestionParId?.id }}</td>
          <td>{{ gestionParId?.audites }}</td>
          <td>{{ gestionParId?.referentiel }}</td>
          <td>
            <span class="badge" 
                  [ngStyle]="{
                    'color': '#ffffff', 
                    'font-size': '15px', 
                    'background-color': (gestionParId?.statutAudit === 'Terminer') ? 'green' : 'blue'
                  }">
              {{ gestionParId?.statutAudit }}
            </span>
          </td>
          <td>{{ gestionParId?.tauxConformite }}</td>
          <td>{{ gestionParId?.conformite }}</td>
          <td>{{ gestionParId?.dateDebut }}</td>
          <td>{{ gestionParId?.dateFin }}</td>
          <td>{{ gestionParId?.typeAudit }}</td>
        </tr>
        <!-- Ajouter un cas où `gestionParId` est nul, pour montrer un message d'attente ou d'erreur -->
        <tr *ngIf="!gestionParId">
          <td colspan="9" class="text-center">Chargement des détails de l'audit...</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Fermer</button>
    <button (click)="rapportid1()" class="btn btn-primary">Télécharger le rapport</button>
  </div>
</ng-template>


<!-- fin  -->