<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Inscription gratuite</h5>
                  <p>Obtenez votre compte gratuit maintenant.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  src="assets/images/profile-img.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img
                      src="assets/images/logo.svg"
                      alt=""
                      class="rounded-circle"
                      height="34"
                    />
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">
              <form
                (ngSubmit)="f.form.valid && inscription()"
                #f="ngForm"
                novalidate
              >
                <!-- <div class="mb-3">
                    <label for="formrow-firstname-input">First name</label>
                    <input type="text" class="form-control" id="formrow-firstname-input">
                </div> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="nom">Nom</label>
                      <input
                        class="form-control"
                        name="nom"
                        [(ngModel)]="form.nom"
                        required
                        minlength="3"
                        maxlength="20"
                        #nom="ngModel"
                        type="text"
                        placeholder="Votre nom"
                        [ngClass]="{
                          'is-invalid': f.submitted && nom.errors
                        }"
                      />
                      <div
                        class="invalid-feedback text-center"
                        *ngIf="nom.errors && f.submitted"
                      >
                        <div *ngIf="nom.errors['required']">
                          Nom est obligatoire
                        </div>
                        <div *ngIf="nom.errors['minlength']">
                          Nom doit avoir au moins 3 caractères
                        </div>
                        <div *ngIf="nom.errors['maxlength']">
                          Nom doit comporter au maximum 20 caractères
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="prenom">Prenom</label>
                      <input
                        type="text"
                        class="form-control"
                        name="prenom"
                                                [(ngModel)]="form.prenom" required minlength="3" maxlength="20"
                                                #prenom="ngModel" [ngClass]="{
                                            'is-invalid':
                                                f.submitted && prenom.errors
                                        }" placeholder="Votre prenom" />
                    </div>
                    <div
                      style="text-align: center"
                      class="invalid-feedback"
                      *ngIf="prenom.errors && f.submitted"
                    >
                      <div *ngIf="prenom.errors['required']">
                        Prenom est obligatoire
                      </div>
                      <div *ngIf="prenom.errors['minlength']">
                        Prenom doit avoir au moins 3 caractères
                      </div>
                      <div *ngIf="prenom.errors['maxlength']">
                        Prenom doit comporter au maximum 20 caractères
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="formrow-email-input">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        [(ngModel)]="form.email"
                        required
                        email
                        #email="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && email.errors
                        }"
                        placeholder="Votre Email"
                      />
                    </div>
                    <div
                      class="invalid-feedback text-center"
                      *ngIf="email.errors && f.submitted"
                    >
                      <div *ngIf="email.errors['required']">
                        Email est obligatoire
                      </div>
                      <div *ngIf="email.errors['email']">Email non valide</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="telephone">Telephone</label>
                      <input
                        type="text"
                        class="form-control"
                        name="telephone"
                        [(ngModel)]="form.telephone"
                        required
                        minlength="8"
                        maxlength="13"
                        #telephone="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && telephone.errors
                        }"
                        placeholder="Votre Numero"
                      />
                    </div>
                    <div
                      style="text-align: center"
                      class="invalid-feedback"
                      *ngIf="telephone.errors && f.submitted"
                    >
                      <div *ngIf="telephone.errors['required']">
                        telephone est obligatoire
                      </div>
                      <div *ngIf="telephone.errors['minlength']">
                        telephone doit avoir au moins 8 caractères
                      </div>
                      <div *ngIf="telephone.errors['maxlength']">
                        Numéro doit comporter au maximum 13 caractères
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="formrow-email-input">Type d'auditeur</label>
                      <span class="oblig">*</span>
                      <select
                        class="form-control"
                        (change)="onChange($event.target)"
                        type="text"
                      
                        name="role"
                        [(ngModel)]="form.role"
                        required
                        role
                        #role="ngModel"
                      >
                        <option class="py-3 input">Choisir</option>
                        <option
                          class="mb-3"
                          *ngFor="let TypeUser of typeUser"
                          [value]="TypeUser.value"
                        >
                          {{ TypeUser.nom }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="telephone">Genre</label>
                      <select
                        class="form-control"
                        type="text"
                        name="genre"
                        style="width: 96%"
                        [(ngModel)]="form.genre"
                        required
                        role
                        #role="ngModel"
                      >
                        <option class="py-3">Choisir</option>
                        <option
                          class="mb-3"
                          *ngFor="let Genre of genre"
                          [value]="Genre.value"
                        >
                          {{ Genre.nom }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div
                    class="col-md-6 row px-3"
                    *ngIf="currentUser != 'Choisir'"
                  >
                    <label class="mb-1"
                      >TypeAuditeur
                      <span class="oblig">*</span>
                      <select class="form-control"
                        type="text"
                        
                        name="typeAuditeur"
                        [(ngModel)]="form.typeAuditeur"
                        required
                        role
                        #role="ngModel"
                      >
                        <option class="py-3">Choisir</option>
                        <option
                          class="mb-3"
                          *ngFor="let TypeAuditeur of typeAuditeur"
                          [value]="typeAuditeur.id"
                        >
                          {{ typeAuditeur.typeAuditeur }}
                        </option>
                      </select>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="formrow-email-input">Mot de passe</label>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Votre mot de passe"
                        name="password"
                        type="password"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && password.errors
                        }"
                        color="black"
                        [type]="Toggledata ? 'password' : 'text'"
                      />
                      <span
                        style="
                          position: absolute;
                          top: 40px;
                          right: 20px;
                          left: 175px;
                          transform: translateY(-0%);
                        "
                        [ngClass]="
                          Toggledata
                            ? 'toggle-password fa fa-eye-slash'
                            : 'toggle-password fa fa-eye'
                        "
                        (click)="iconLogle()"
                      >
                      </span>
                      <div
                        *ngIf="password.errors && f.submitted"
                        class="invalid-feedback text-center"
                      >
                        <div *ngIf="password.errors['required']">
                          Mot de passe obligatoire
                        </div>
                        <div *ngIf="password.errors['minlength']">
                          Mot de passe minimun 6 caractères
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="formrow-email-input">Mot passe conf</label>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Confirmation "
                        name="password"
                        [(ngModel)]="form.confirmPassword"
                        required
                        minlength="6"
                        #confirmPassword="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && confirmPassword.errors
                        }"
                        color="black"
                        type="password"
                        [type]="ToggledataC ? 'password' : 'text'"
                      />
                      <span
                        style="
                          position: absolute;
                          top: 45px;
                          right: 20px;
                          left: 175px;
                          transform: translateY(-50%);
                        "
                        [ngClass]="
                          ToggledataC
                            ? 'toggle-password fa fa-eye-slash'
                            : 'toggle-password fa fa-eye'
                        "
                        (click)="iconLogleC()"
                      >
                      </span>
                      <div
                        class="invalid-feedback text-center"
                        *ngIf="confirmPassword.errors && f.submitted"
                      >
                        <div *ngIf="confirmPassword.errors['required']">
                          Confirmation obligatoire
                        </div>
                        <div *ngIf="confirmPassword.errors['minlength']">
                          Confirme mot de passe doit être au moins 6 caractères
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                    </div>
                </div> -->
                <div>
                  <button type="submit" class="btn btn-primary w-md">
                    Envoyer
                  </button>
                </div>
              </form>
              <!-- <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <alert type="success" *ngIf="successmsg" [dismissible]="false">Registeration successfull.
                </alert>

                <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>
              <div class="row mb-3">
                <div class="col-md-6 row px-3">
                  <label for="username" class="form-label">Nom</label>

                  <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"
                    placeholder="Enter votre Nom" />

                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Userame is required</div>
                  </div>
                </div>
                <div class="col-md-6 row px-3">
                  <label for="username" class="form-label">Prenom</label>

                  <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"
                    placeholder="Enter votre prenom"/>

                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Userame is required</div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="telephone" class="form-label">Telephone</label>

                <input type="text" formControlName="telephone" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="telephonne" placeholder="Telephone">

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>

                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>

                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" />

                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit">Se connecter</button>
                </div>
              </form> -->
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>
            Vous avez déjà un compte ?
            <a routerLink="/account/login" class="fw-medium text-primary">
              Se connecter</a
            >
          </p>
          <p>
            © 2024 Audit-ng <i class="mdi mdi-heart text-danger"></i> by Sniffer
          </p>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
