<div class="container-fluid">
  <!-- <app-page-title title="Jobs List" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Liste des Audités</h5>
            <div class="col-xxl-4 col-lg-6" style="padding-right: 20px;">
              <input type="search" class="form-control" id="searchInput" placeholder="Search for ...">
            </div> 
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="/ajouter-audites" class="btn btn-primary">Nouvel audité</a>
              <!-- <a href="javascript:void(0);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a> -->
              <div class="dropdown d-inline-block" dropdown>
                <button type="menu" class="btn btn-success" id="*dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" dropdownToggle><i class="mdi mdi-dots-vertical"></i></button>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-end show" aria-labelledby="*dropdownMenuButton1" *dropdownMenu>
                  <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <div class="row g-3">
            <!-- <div class="col-xxl-2 col-lg-6">
              <select class="form-select"  id="idStatus" aria-label="Default select example">
                <option value="">Select Status</option>
                <option value="Active">Active</option>
                <option value="New">New</option>
                <option value="Close">Close</option>
              </select>
            </div>
            <div class="col-xxl-2 col-lg-4">
              <select class="form-select"  id="idType" aria-label="Default select example">
                <option value="">Select Type</option>
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
                <option value="Internship">Internship</option>
                <option value="Freelance">Freelance</option>
              </select>
            </div> -->
            <!-- <div class="col-xxl-2 col-lg-4">
              <div id="datepicker1">
                <input type="text" placeholder="Datepicker" class="form-control " bsDatepicker >

              </div>
            </div> -->
            <!-- <div class="col-xxl-2 col-lg-4">
              <button type="button" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
            </div> -->
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-90 table-check" id="liste-audites">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Site</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Audite of audites">
                  <th scope="row">{{ Audite?.id }}</th>
                  <td>{{ Audite?.audite }}</td>
                  <td>{{ Audite?.siteaudite }}</td>
                  <td>{{ Audite?.description }}</td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Voir">
                        <a (click)="scrollModal(scrollable, { idAudites: Audite?.id })" class="btn btn-sm btn-soft-primary">
                          <i class="mdi mdi-eye-outline"></i>
                        </a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info">
                          <i class="mdi mdi-pencil-outline"></i>
                        </a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger">
                          <i class="mdi mdi-delete-outline"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>              
              
            </table>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col-auto me-auto">
              <p class="text-muted mb-0">Audites <b></b> to <b></b> of <b></b> entreprise</p>
            </div>
            <div class="col-auto">
              <div class="text-md-right float-md-end pagination-rounded">
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                  <!-- <pagination [totalItems]="(total | async)!" [(ngModel)]="service.page" [itemsPerPage]="service.pageSize" previousText="&lsaquo;" nextText="&rsaquo;"></pagination> -->
                </ul>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #scrollable let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Détails du Rapport</h5>
   
    
    <button type="button" class="btn-close" (click)="modal.hide()"></button>
    
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
          <th scope="col">Site</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="auditesParId">
          <th scope="row">{{ auditesParId?.id }}</th>
          <td>{{ auditesParId?.audite }}</td>
          <td>{{ auditesParId?.siteaudite }}</td>
          <td>{{ auditesParId?.description }}</td>
          <td>
            <ul class="list-unstyled hstack gap-1 mb-0">
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="Voir">
                <a routerLink="/jobs/details" class="btn btn-sm btn-soft-primary">
                  <i class="mdi mdi-eye-outline"></i>
                </a>
              </li>
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                <a href="javascript:void(0);" class="btn btn-sm btn-soft-info">
                  <i class="mdi mdi-pencil-outline"></i>
                </a>
              </li>
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger">
                  <i class="mdi mdi-delete-outline"></i>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody> 
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalRef?.hide()">Quitter</button>
    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    <button (click)="rapportid1()" class="btn btn-primary">
      Télécharger Le rapport 
    </button>
</div>
</ng-template>

 

