 <!-- end row -->
 <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nouvel audité</h5>
                <!-- <p class="card-title-desc">Create beautifully simple form labels that float over your input fields.</p> -->

                <form>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>Type d'audits</option>
                                <option value="1">AWD</option>
                                <option value="2">ODC</option>
                            </select>
                            <label for="floatingSelectGrid">Types d'audits</label>
                        </div>
                     </div>
                     <div class="row">
                        <h5 class="card-title" >Audites</h5>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>......</option>
                                <option value="1">AWD</option>
                                <option value="2">ODC</option>
                            </select>
                            <label for="floatingSelectGrid">Sélectionner un audité</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>Type d'audits</option>
                                <option value="1">AWD</option>
                                <option value="2">ODC</option>
                            </select>
                            <label for="floatingSelectGrid">Sélectionner les sites</label>
                        </div>
                     </div>
                    </div>
                    <h5 class="card-title" >Langue</h5>
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>Langue de l'audit</option>
                                <option value="1">Francais</option>
                                <option value="2">Anglais</option>
                            </select>
                            <label for="floatingSelectGrid">Langue</label>
                        </div>
                    </div>
                    <h5 class="card-title" >Référentiels</h5>
                     <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                    <option selected>Site a Audites</option>
                                    <option value="1">AWD</option>
                                    <option value="2">ODC</option>
                                </select>
                                <label for="floatingSelectGrid">Sélectionner les référentiels</label>
                            </div>
                    </div>
                    <div class="row">
                        <h5 class="card-title" >Conformites</h5>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                    <option selected>Conformites</option>
                                    <option value="1">Test</option>
                                    <option value="2">Test1</option>
                                </select>                                
                                <label for="floatingemailInput">Nom</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                    <option selected>Version</option>
                                    <option value="1">1.5</option>
                                    <option value="2">1.10</option>
                                </select>
                                <label for="floatingemailInput">Version:</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-md">Envoyer</button>
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->