<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Bien venue !</h5>
                  <p>Sign in to continue to Skote.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">
              <form #f="ngForm" (ngSubmit)="f.form.valid && seConnecter()" novalidate>
                <div class="mb-3">
                  <label for="email">Email</label>
                  <input  class="form-control"  type="text" name="telephoneOrEmail" [(ngModel)]="form.telephoneOrEmail" required
                    #telephoneOrEmail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && telephoneOrEmail.errors }"
                    placeholder="Email" />
                  <div style="text-align: center;" *ngIf="telephoneOrEmail.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="telephoneOrEmail.errors['required']">Email obligatoire</div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="email">Mot de passe</label>

                  <input  class="form-control" type="password" placeholder="Mot de passe" name="password" [(ngModel)]="form.password"
                    required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                    name="password" color="black" type="password" [type]="Toggledata ? 'password' : 'text'" />
                  <span class="crd" style="position: absolute; top: 
                  315px; right: 50px; transform: translateY(-50%);"
                    [ngClass]="Toggledata ? 'toggle-password fa fa-eye-slash' : 'toggle-password fa fa-eye'"
                    (click)="iconLogle()">
                  </span>
                  <div *ngIf="password.errors && f.submitted" class="invalid-feedback text-center">
                    <div *ngIf="password.errors['required']">Mot de passe obligatoire </div>
                    <div *ngIf="password.errors['minlength']">
                      Mot de passe minimun 6 caractères
                    </div>
                  </div>
              </div>
                <div>
                  <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
                <div class="mt-4 text-center">
                  <p>Vous n'avez pas de compte ?  <a routerLink="/account/signup" class="fw-medium text-primary"> S'inscrire maintenant </a> </p>
                  <a routerLink="/account/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot
                    Mot de passe oublié?</a>
                </div>
              </form>
              <!-- <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && seConnecter()" novalidate>
                <div class="mb-3">
                  <label for="email">Email</label>
                  <input class="form-control" id="email" type="text" name="telephoneOrEmail" [(ngModel)]="form.telephoneOrEmail" required
                  #telephoneOrEmail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && telephoneOrEmail.errors }"
                  placeholder="Email" />
                  <div style="text-align: center;" *ngIf="telephoneOrEmail.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="telephoneOrEmail.errors['required']">Numero ou Email obligatoire</div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password">Password</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input class="form-control" type="password" placeholder="Mot de passe" name="password" [(ngModel)]="form.password"
                    required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                    name="password" color="black" type="password" [type]="Toggledata ? 'password' : 'text'" />
                  <span class="crd" style="position: absolute; top: 234px; right: 59px; transform: translateY(-50%);"
                    [ngClass]="Toggledata ? 'toggle-password fa fa-eye-slash' : 'toggle-password fa fa-eye'"
                    (click)="iconLogle()">
                  </span>
                  </div>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-check">
                  <label class="form-check-label" for="remember-check">
                      Remember me
                  </label>
              </div>

                <div class="mt-3 d-grid">
                  <button class="btn btn-primary" type="submit">Se connecter </button>
                </div>
              
                <div class="mt-4 text-center">
                  <p>Vous n'avez pas de compte ?  <a routerLink="/account/signup" class="fw-medium text-primary"> S'inscrire maintenant </a> </p>
                  <a routerLink="/account/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot
                    Mot de passe oublié?</a>
                </div>
              </form> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->