<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Inscription gratuite</h5>
                  <p>Obtenez votre compte gratuit maintenant.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">
              <form>
                <!-- <div class="mb-3">
                    <label for="formrow-firstname-input">First name</label>
                    <input type="text" class="form-control" id="formrow-firstname-input">
                </div> -->
                <div class="row">

                  <div class="col-md-6">
                      <div class="mb-3">
                          <label for="nom">Nom</label>
                          <input type="nom" class="form-control" id="nom">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="mb-3">
                          <label for="prenom">Prenom</label>
                          <input type="text" class="form-control" id="prenom" />
                      </div>
                  </div>
              </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="formrow-email-input">Email</label>
                            <input type="email" class="form-control" id="formrow-email-input">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="telephone">Telephone</label>
                            <input type="text" class="form-control" id="telephone" />
                        </div>
                    </div>
                </div>

                <div class="row">

                  <div class="col-md-6">
                      <div class="mb-3">
                          <label for="formrow-email-input">Type d'auditeur</label>
                          <select id="formrow-inputState" class="form-control">
                              <option selected>Choose...</option>
                              <option>...</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="mb-3">
                          <label for="telephone">Genre</label>
                          <select id="formrow-inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                      </div>
                  </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="formrow-email-input">Mot de passe</label>
                        <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" color="black" type="password" [type]="type ? 'password' : 'text'" />
                        <span
                        style="position: absolute; top: 45px; right: 20px; transform: translateY(-50%);"
                        [ngClass]="type ? 'toggle-password fa fa-eye-slash' : 'toggle-password fa fa-eye'"
                        (click)="changeType()"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                      <label for="formrow-email-input">Mot passe conf</label>
                      <input type="password" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" color="black" type="password" [type]="type1 ? 'password' : 'text'" />
                      <span
                      style="position: absolute; top: 45px; right: 20px; transform: translateY(-50%);"
                      [ngClass]="type1 ? 'toggle-password fa fa-eye-slash' : 'toggle-password fa fa-eye'"
                      (click)="changeType1()"></span>
                    </div>
                </div>
            </div>
                <!-- <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                    </div>
                </div> -->
                <div>
                    <button type="submit" class="btn btn-primary w-md">Envoyer</button>
                </div>
            </form>
              <!-- <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <alert type="success" *ngIf="successmsg" [dismissible]="false">Registeration successfull.
                </alert>

                <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>
              <div class="row mb-3">
                <div class="col-md-6 row px-3">
                  <label for="username" class="form-label">Nom</label>

                  <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"
                    placeholder="Enter votre Nom" />

                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Userame is required</div>
                  </div>
                </div>
                <div class="col-md-6 row px-3">
                  <label for="username" class="form-label">Prenom</label>

                  <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"
                    placeholder="Enter votre prenom"/>

                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Userame is required</div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="telephone" class="form-label">Telephone</label>

                <input type="text" formControlName="telephone" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="telephonne" placeholder="Telephone">

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>

                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>

                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" />

                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit">Se connecter</button>
                </div>
              </form> -->
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Vous avez déjà un compte ? <a routerLink="/account/login" class="fw-medium text-primary"> Se connecter</a>
          </p>
          <p>© {{year}} Audit-ng <i class="mdi mdi-heart text-danger"></i> by Sniffer</p>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>